<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>taskView</title>
</head>
<body>
<h1>Zadanie</h1>

<div location="task-description"></div>
<div location="task-player"></div>
<div location="task-counter"></div>
<div location="task-answer"></div>
<!--<div location="task-artist-label"></div>-->
<!--<div location="task-artist-field"></div>-->
<!--<div location="task-title-label"></div>-->
<!--<div location="task-title-field"></div>-->


<table>
    <tr>
        <td location="task-artist-label"></td>
        <td location="task-artist-field"></td>
    </tr>
    <tr>
        <td location="task-title-label"></td>
        <td location="task-title-field"></td>
    </tr>
</table>
<div location="task-button1"></div>
<div location="task-button2"></div>
<div location="task-button3"></div>
<div location="task-button4"></div>


</body>
</html>