<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>taskView</title>
</head>
<body>
<h1>Task</h1>

<div location="task-description"></div>
<br>
<div location="task-player" align="center"></div>
<div location="task-counter" align="right"></div>
<br>
<div location="task-answer"></div>

<table width="100%">
    <tr>
        <td location="task-artist-label"></td>
        <td location="task-artist-field"></td>
    </tr>
    <tr>
        <td location="task-title-label"></td>
        <td location="task-title-field"></td>
    </tr>
</table>
<br>
<table width="100%">
    <tr>
        <td location="task-button-prev" width="33.3%" align="center"></td>
        <td location="task-button-save" width="33.3%" align="center"></td>
        <td location="task-button-next" width="33.3%" align="center"></td>
    </tr>
    <tr>
        <td location="task-button-tip1" width="33.3%" align="center"></td>
        <td location="task-button-tip1-text" width="66.7%" align="center"></td>
    </tr>
    <tr>
        <td location="task-button-tip2" width="33.3%" align="center"></td>
        <td location="task-button-tip2-text" width="66.7%" align="center"></td>
    </tr>
</table>

</body>
</html>